.hid{
	 position: absolute;
	 pointer-events: none;
	 display: none;
	z-index: 100;
}
.card{
	height: 86px;
	width: 50%;
	margin: 10%;
}

.turn{
	height: 30px;
	width: 100%;
	margin: : auto;
	font-size: 150%;
	text-align: center;
	color:black;
	background-image: url(../img/back2.jpg);

}

.san{
	height: 15px;
	width: 100%;
	font-size: 120%;
	text-align: center;
	color:purple;
}

.atk{
	height: 10px;
	width: 100%;
	font-size: 100%;
	text-align: center;
	color:red;

}

.def{
	height: 10px;
	width: 100%;
	font-size: 100%;
	text-align: center;
	color:green;

}

.hand{
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 40px;

}
.maincard{
	height: 130px;
	width: 70%;
}
.cardimg{
	height: 100%;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
}

.battlefield{

	width: 80%;

}

.showncard{
	height: 120px;
	width: 97px;
	margin: 20%;

	margin-left: auto;
	margin-right: auto;
}

.screem{
	width:100%;
	margin-right:10%;
}



.battle-left{
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.battle-right{
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
